		<script type="text/javascript" src="/javascripts/leilao/CriarCtrl.js"></script>
		<div class='row-fluid'  ng-app ng-controller="CriarCtrl">
			<div align="center">
					<h3>
						<small>É bem simples</small>
						<br>
						Primeiro descreva os produtos que você precisa
					</h2>
				</div>
			<div class="span3"></div><!-- sidbar da esquerda -->
			<div class="span6">	<!-- Content -->
				<ul class="list"> 
					<li ng-repeat="i in itens">
						<div class="well well-small span11">
							<span class="lead">{{i.item_nome}} </span>
							<span class="lead" style="float:right">{{i.item_quantidade}}</span><br>
							<p>{{i.item_descricao}}</p>
						</div>
					</li>
				</ul>
				<form name="form" ng-submit="add()">
					<div>
						<input class="span10" required ng-model="item.item_nome" name='item.item_nome' type='text' maxlength='60' placeholder='Nome do produto...'>
						<input class="span2" type="text" name="item_quantidade" ng-model="item.item_quantidade" required placeholder="Quantidade...">
					</div>
					<textarea class="span12" rows="5" ng-model="item.item_descricao" name='item_descricao' type='text' maxlength='300' placeholder='Coloque mais detalhes dobre o produto, se você achar necessário.'></textarea>
					<div>
						<a class="btn btn-large" ng-click="add()">
							<i class="icon-plus-sign"></i>
						</a>
					</div>
				</form>
				<hr>
				<div class="row-fluid" align="center">
					<a id="btnCriar" class="btn btn-primary btn-large finish {{stateSave}}" ng-click="salvar()" data-loading-text="Enviando...">
						Criar leilão
					</a>
				</div>
			</div>
			<div class="span3"></div> <!-- Sidbar direito -->
		</div>
