
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
		<script type="text/javascript" src="/vendors/jquery.geocomplete.min.js"></script>
		<script type="text/javascript" src="/vendors/jquery.number.min.js"></script>
		<script type="text/javascript" src="/javascripts/leilao/RankingCtrl.js"></script>
		<div class='row-fluid' ng-app ng-controller="RankingCtrl">
			<div align="center">
				<div>
					<h2>
					<small class="text-success" id="titulo">{{msgTitulo}}</small>
					</h2>
					<h4>
						<span id="spanPosicaoSel" class="{{orcamentoSelecionado.clsPosicao}}">{{posicaoSelecionada}}</span>
						<span class="{{orcamentoSelecionado.clsTotal}}">&nbspR$ {{orcamentoSelecionado.total_com_entrega}}</span>
					</h4>
				</div>	
			</div>
			<input type="hidden" id="leilao_numero" value=<?php echo $this->leilao_numero ?> >
			<div class="span2 offset"> <!-- sidbar da esquerda -->
				<br />
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="r in ranking" class="{{r.clsMenuSel}}">
							<td><button type="button" class="btn" ng-click="obterItensPorOrcamento(r.orcamento_numero, r.posicao)"><span class="{{r.clsPosicao}}"> {{r.posicao}} </span></button></td>
							<td><span class="{{r.clsTotal}}">R$ {{r.total_com_entrega}}</span></td>
							<td><i class="icon-chevron-right"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="span6">
				<!-- Table de itens do orçamento -->
				<div class="form-actions">
					<table class="table table-hover">
						<thead>
							<td>Produto</td>
							<td>Quantidade</td>
							<td>Preço total</td>
						</thead>
						<tbody>
							<tr ng-repeat="r in itensOrcamento">
								<td class="span6">
									<strong>{{r.item_nome}}</strong>
									<br>
									<p>{{r.item_descricao}}</p>
								</td>
								<td>{{r.item_quantidade}}</td>
								<td><strong class="text-success">R$ {{r.itemorcamento_valortotal}}</strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="span3"> <!-- sidbar da direita -->
				<br />
				<div class="well">
					<address>
						<i class="icon-map-marker"></i><span>{{orcamentoSelecionado.leilao_localentrega}}</span><br /><br />
					</address>
					<div class="mapa"></div>
					<input type="hidden"  id="localEntrega">
					 <span>Preço do frete: <strong class="lead">R$ {{orcamentoSelecionado.orcamento_valorentrega}}</strong></span><br />
					 <span>Prazo de entrega: <strong class="lead">{{orcamentoSelecionado.orcamento_prazoentrega}} dias úteis</strong></span><br />
				</div>
			</div>
		</div>

